:root{
    --color-primero: #03001C;
    --color-segundo: #c4a7e7;
    --color-tercero: #3e8fb0;
    --color-cuarto: #eb6f92;
    --color-quinto: #ea9a97;
    --color-sexto: #f6c177;
    --color-septimo:#9ccfd8;
    --color-octavo: #6e6a86;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
    background-color: var(--color-primero);
    color: var(--color-tercero);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-primero);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.header__nav__logo{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-tercero);
}
.header__nav__logo:hover{
    color: var(--color-cuarto);
}
.header__nav__links{
    display: flex;
    gap: 1.5rem;
}
.header__nav__links__link{
    text-decoration: none;
    color: var(--color-septimo);
}
.header__nav__links__link:hover{
    color: var(--color-cuarto);
    border-bottom: 1px solid var(--color-cuarto);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin-top: 4rem;
    border: 1px solid var(--color-tercero);
    border-radius: 1rem;
    padding: 3rem;
}
.container__form__input{
    padding: 0.5rem;
    background-color: var(--color-primero);
    border: none;
    border-bottom: 1px solid var(--color-tercero);
    margin-bottom: 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    color: var(--color-cuarto);
    caret-color: var(--color-cuarto);
}

.container__form__input:focus{
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container__form__button{
    padding: 1rem;
    background-color: var(--color-tercero);
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
}
.container__form__button:hover{
    background-color: var(--color-cuarto);
    cursor: pointer;
}

.container__form__respuesta{
    font-size: 1.4rem;
}

.link{
    margin: 2rem 0;
    color: var(--color-segundo);
}

.container__container-codigo__codigo{
    border: 1px solid var(--color-tercero);
}

.footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.footer__link{
    text-decoration: none;
    color: #6e6a86;
}
.footer__link:hover{
    color: #c4a7e7;
}

@media (max-width: 576px){
    .container__form{
        width: auto;
        border: none;
    }
    .container__container__codigo{
        display: block;
        width: 100%;
        word-wrap: break-word;
    }
}